<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Sign Up</title>
    </head>
<body>

<form method="post" action="/user">

    <label>
        Username:
        <input type ="text" name ="username" th:value="${user.username}">
    </label>
    <p th:errors="${user.username}" style="color:red;"></p>
    <br>
    <label>
        Email:
        <input name ="email" th:value="${user.email}">
        <p th:errors="${user.email}" style="color:red;"></p>
    </label>
    <br>
    <label>
        Password:
        <input type ="password" name ="password" >
        <p th:errors="${user.password}" style="color:red;"></p>
    </label>
    <br>
    <label>
        Verify Password:
        <input type ="password" name ="verify">
<!--        Bonus-->
<!--        <input type ="password" name ="verifyPassword" th:value="${user.verifyPassword}">-->
<!--        <p th:errors="${user.verifyPassword}" style="color:red;"></p>-->
    </label>
    <p th:text="${error}"></p>

    <input type = "submit" value = "Sign Up">
</form>

</body>
</html>